body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;       
  align-items: center;           
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  text-align: center;
  transform: translateY(-50px);
}

.item-list {
  list-style: none;
  padding: 0;
  max-width: 200px;
  margin: 0 auto;
}

.item-list li {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin: 10px 0;
  font-size: 1.2em;
}

.favorite-icon {
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.filled {
  color: red;
}
